USE [master]
GO
/****** Object:  Database [sql_normalization]    Script Date: 9/16/2024 6:58:50 PM ******/
CREATE DATABASE [sql_normalization]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sql_normalization', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\sql_normalization.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sql_normalization_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\sql_normalization_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sql_normalization].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sql_normalization]
GO
USE [sql_normalization]
GO
/****** Object:  Table [dbo].[student]    Script Date: 9/16/2024 6:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[s_name] [nvarchar](255) NULL,
	[t_id] [int] NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 9/16/2024 6:58:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [s_name], [t_id]) VALUES (1, N'hadi', 1)
INSERT [dbo].[student] ([id], [s_name], [t_id]) VALUES (2, N'haris', 2)
INSERT [dbo].[student] ([id], [s_name], [t_id]) VALUES (3, N'bilal', 3)
SET IDENTITY_INSERT [dbo].[student] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id], [name]) VALUES (1, N'aamar')
INSERT [dbo].[teacher] ([id], [name]) VALUES (2, N'ahad')
INSERT [dbo].[teacher] ([id], [name]) VALUES (3, N'bilal')
SET IDENTITY_INSERT [dbo].[teacher] OFF
GO
USE [master]
GO
